@tailwind base;
@tailwind components;
@tailwind utilities;

body,
#root {
  height: 100vh;
}
input:checked ~ .dot {
  transform: translateX(100%);
  background-color: rgb(79 70 229 / var(--tw-bg-opacity));
}

::-webkit-scrollbar {
  background-color: rgb(156 163 175 / var(--tw-border-opacity));
}

::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #f7f4ed;
}

::-webkit-scrollbar-thumb {
  background: #9e9797;
  border-radius: 100vh;
  border: 3px solid #f6f7ed;
}

::-webkit-scrollbar-thumb:hover {
  background: #585658;
}
